@page
@model EShop.Presentation.MVC.Areas.Identity.Pages.Login.RegisterModel
@{
    ViewData["Title"] = "ثبت‌نام";
}

<h5 class="mb-3">ثبت‌نام</h5>

<form method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Input.Email" class="form-label"></label>
        <input asp-for="Input.Email" class="form-control" placeholder="email@example.com" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Input.Password" class="form-label"></label>
        <input asp-for="Input.Password" class="form-control" placeholder="حداقل ۶ کاراکتر" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Input.ConfirmPassword" class="form-label"></label>
        <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="تکرار رمز" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-dark w-100">ساخت حساب</button>

    <div class="mt-3 small">
        قبلاً ثبت‌نام کرده‌اید؟
        <a asp-area="Identity" asp-page="/Login/Login">ورود</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

